In [24]:
import pandas as pd
# Load the dataset
df = pd.read_csv("../data/cleaned_credit_data.csv")

In [25]:
df.head()

,ID,Limit_Balance,Age,Repay_Sept,Repay_Aug,Repay_July,Repay_June,Repay_May,Repay_April,Bill_Sept,...,Pay_April,Default_Next_Month,Gender_Male,Education_Graduate,Education_High School,Education_Other,Education_University,Marital_Status_Married,Marital_Status_Other,Marital_Status_Single
0,1,20000,24,2,2,-1,-1,-2,-2,3913,...,0,1,False,False,False,False,True,True,False,False
1,2,120000,26,-1,2,0,0,0,2,2682,...,2000,1,False,False,False,False,True,False,False,True
2,3,90000,34,0,0,0,0,0,0,29239,...,5000,0,False,False,False,False,True,False,False,True
3,4,50000,37,0,0,0,0,0,0,46990,...,1000,0,False,False,False,False,True,True,False,False
4,5,50000,57,-1,0,-1,0,0,0,8617,...,679,0,True,False,False,False,True,True,False,False

In [26]:
df.columns

Index(['ID', 'Limit_Balance', 'Age', 'Repay_Sept', 'Repay_Aug', 'Repay_July',
       'Repay_June', 'Repay_May', 'Repay_April', 'Bill_Sept', 'Bill_Aug',
       'Bill_July', 'Bill_June', 'Bill_May', 'Bill_April', 'Pay_Sept',
       'Pay_Aug', 'Pay_July', 'Pay_June', 'Pay_May', 'Pay_April',
       'Default_Next_Month', 'Gender_Male', 'Education_Graduate',
       'Education_High School', 'Education_Other', 'Education_University',
       'Marital_Status_Married', 'Marital_Status_Other',
       'Marital_Status_Single'],
      dtype='object')

In [ ]:
# !pip install imblearn
# !pip install scikit-learn

In [27]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split

# Define features & target
X = df.drop(columns=["Default_Next_Month"])
y = df["Default_Next_Month"]

# Split data before applying SMOTE
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

# Apply SMOTE
smote = SMOTE(sampling_strategy="auto", random_state=42)
X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

# Check new class balance
import collections
print("Before SMOTE:", collections.Counter(y_train))
print("After SMOTE:", collections.Counter(y_train_resampled))

Before SMOTE: Counter({0: 18691, 1: 5309})
After SMOTE: Counter({0: 18691, 1: 18691})

In [28]:
# Save the train & test sets
X_train_resampled.to_csv("../data/X_train.csv", index=False)
y_train_resampled.to_csv("../data/y_train.csv", index=False)
X_test.to_csv("../data/X_test.csv", index=False)
y_test.to_csv("../data/y_test.csv", index=False)

print("âœ… Feature-engineered dataset saved!")

âœ… Feature-engineered dataset saved!

In [29]:
df_check = pd.read_csv("../data/X_train.csv")
print(df_check.head())

      ID  Limit_Balance  Age  Repay_Sept  Repay_Aug  Repay_July  Repay_June  \
0  22789         160000   33           2          2           3           2
1  29007         150000   34           1         -1          -1          -2
2  16951          10000   50           1          2           0           0
3  22281         220000   29           0          0           0           0
4  11347         310000   32           1         -2          -1           0

   Repay_May  Repay_April  Bill_Sept  ...  Pay_May  Pay_April  Gender_Male  \
0          0            0     161771  ...    12300       6100        False
1         -2           -2          0  ...        0          0        False
2          0            0      10171  ...      305       1000         True
3          0            0     206879  ...     4900       6000        False
4          0           -2          0  ...        0       1200        False

   Education_Graduate  Education_High School  Education_Other  \
0               False                  False            False
1                True                  False            False
2               False                  False            False
3                True                  False            False
4                True                  False            False

   Education_University  Marital_Status_Married  Marital_Status_Other  \
0                  True                   False                 False
1                 False                   False                 False
2                  True                    True                 False
3                 False                   False                 False
4                 False                   False                 False

   Marital_Status_Single
0                   True
1                   True
2                  False
3                   True
4                   True

[5 rows x 29 columns]